<!-- Bank signup form -->
<div class="container w-50 mt-5">

    <form action="" class="border p-5" style="background-color: rgba(80, 142, 218, 0.348);">
        <h1 class="text-center ">Sign Up Here! </h1>

        <div class="mt-2 p-2">
            <input type="text" id="acid" name="acn"  placeholder="Account number" class="form-control"><br>

        </div>
        <div class="mt-2 p-2">
            <input type="text" id="user" name="user1" placeholder="username" class="form-control"><br>

        </div>
        <div class="mt-2 p-2">
            <input type="password" id="psw" name="pass" placeholder="Password" class="form-control"><br>

        </div>

        <div class="container w-50 mt-2 p-2 text-center">
            <button type="button"  (click)="register()" class="btn btn-outline-light">Register</button>
        </div>
    </form>
</div>
